html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que html y body ocupen toda la pantalla */
    overflow: hidden; /* Evita barras de desplazamiento */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf7f1;
    color: #4a2c2a;
}
header {
    background-color: #8b5e3c;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #a67c52;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
footer {
    background-color: #8b4513;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.botoncat {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url('/img/guitarra2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.7); 
}

.botoncat button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8b4513;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    font-size: 20px; 
    cursor: pointer;
}

.botoncat button:hover {
    background-color: #a0522d;
}