@media (max-width: 768px) {
    .menu-toggle {
    display: block;
    }

.nav-links-container {
    display: none;
    width: 100%;
    background-color: #111;
}

.nav-links-container.active {
    display: block;
}

.nav-links {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
}

.nav-links li {
    width: 100%;
    padding: 10px 20px;
}

.nav-links li a {
    display: block;
    width: 100%;
}
}